/.env
/vendor/
/storage/logs/**/*.log
/storage/cache/*
/storage/uploads/tmp/*
/storage/uploads/prescriptions/*
/storage/uploads/invoices/*
!/storage/.htaccess
!/storage/logs/.htaccess
!/storage/uploads/.htaccess
!/storage/uploads/prescriptions/.htaccess
!/storage/uploads/invoices/.htaccess

